@import '../../assets/variables';

.container {
  background-color: $secondary-color;
  padding: 10px;
  flex: 1;
}

.filterContainer {
  margin-bottom: 10px;
}

.listContainer {
  flex: 1;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 18px;
}
