@import '../../assets/variables';

.poster {
  height: 200;
  border-radius: 5px;
}
.details {
  flex: 1;
  justify-content: center;
}
.title {
  font-size: 16;
}
.year {
  font-size: 14;
  color: $text-color-sub;
}
