@import '../../assets/variables';

.container {
  flex-direction: row;
  align-items: center;
  background-color: $text-color-primary;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 3px 10px 3px 10px;
}
.input {
  flex: 1;
  font-size: 18px;
  color: $text-color-secondary;
}

