.container {
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
input {
  flex: 1;
  font-size: 18px;
}
button {
  background-color: #007aff;
  border-radius: 5;
  padding: 10;
  margin-left: 10;
  flex-direction: row;
  align-items: center;
}
